<div>
  <h2 id="page-heading" data-cy="VehicleHeading">
    <span>Veículos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle"
        [routerLink]="['/vehicle/new']"
      >
        <span>Criar novo Veículo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicles().length === 0">
    <span>Nenhum veículo encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vehicles().length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Código</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="licensePlate">
            <div class="d-flex">
              <span>Placa</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="model">
            <div class="d-flex">
              <span>Modelo</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="brand">
            <div class="d-flex">
              <span>Marca</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastMaintenanceDate">
            <div class="d-flex">
              <span>Última Manutenção</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="nextMaintenanceDate">
            <div class="d-flex">
              <span>Próxima Manutenção</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.name">
            <div class="d-flex">
              <span>Cliente</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (vehicle of vehicles(); track trackId(vehicle)) {
          <tr data-cy="entityTable">
            <td>
              <a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a>
            </td>
            <td>{{ vehicle.licensePlate }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.brand }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="{
                  'bg-success': vehicle.status === 'AVAILABLE',
                  'bg-warning': vehicle.status === 'WAITING_MAINTENANCE',
                  'bg-info': vehicle.status === 'UNDER_MAINTENANCE',
                  'bg-danger': vehicle.status === 'OUT_OF_SERVICE',
                  'bg-primary': vehicle.status === 'DELIVERED_TO_CUSTOMER',
                }"
              >
                {{
                  {
                    null: '',
                    AVAILABLE: 'Disponível',
                    UNDER_MAINTENANCE: 'Em Manutenção',
                    WAITING_MAINTENANCE: 'Aguardando Manutenção',
                    OUT_OF_SERVICE: 'Fora de Serviço',
                    DELIVERED_TO_CUSTOMER: 'Entregue ao Cliente',
                  }[vehicle.status ?? 'null']
                }}
              </span>
            </td>
            <td>{{ vehicle.lastMaintenanceDate | formatMediumDate }}</td>
            <td>{{ vehicle.nextMaintenanceDate | formatMediumDate }}</td>
            <td>
              @if (vehicle.client) {
                <div>
                  <a [routerLink]="['/client', vehicle.client.id, 'view']">{{ vehicle.client.name }}</a>
                </div>
              }
            </td>
            <td class="text-end">
              <div class="btn-group">
                <a [routerLink]="['/vehicle', vehicle.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <span class="d-none d-md-inline">Visualizar</span>
                </a>

                <a [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <span class="d-none d-md-inline">Editar</span>
                </a>

                <button type="submit" (click)="delete(vehicle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <span class="d-none d-md-inline">Excluir</span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (vehicles().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
